*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0px;
}

.general{
height: 100vh;
margin: auto;
margin-top:50px;
width: 550px;
height: 1300px;
background-color: #888;
}

.principal{
    padding-top: 20px;
    display:flex;
    justify-content: center;
    width: 550px;
    height: 60px;
}
    

h2{
    display:flex;
    justify-content: center;
}

.datos_personales{
    padding-top: 40px;
    justify-content: center;
    align-items: center;
    width: 550px;
    height: 280px;
    
}

.name{
    
    border-radius: 40px;
    margin: 1%;
    width: 130px;
    height: 130px;
    position: relative;
}
    
.skill{
    padding-left: 10px;
   }
    
   .estudios{
    padding-top: 40px;
    width: 550px;
    height: 250px;
       
   }
    
   .study{
    border-radius: 40px;
    margin: 1%;
    width: 130px;
    height: 130px;
    position: relative;
    }
       
       
    .skills{
        padding-left: 10px;
    }
    
    .actividades{
     padding-top: 40px;
        width: 550px;
        height: 230px;
        
    }
    .image_profile{
        border-radius: 40px;
        margin: 1%;
        width: 130px;
        height: 130px;
        position: relative;
    }
    
    .experiencia{
     padding-top: 40px;
     width: 550px;
     height: 250px;
        
    }
    .vendedor{
        border-radius: 40px;
        margin: 1%;
        width: 130px;
        height: 130px;
        position: relative;
    }


       
    
    
    
    
    
    
    



    

   
   
   










 
 

  







